body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;



}


nav{

   display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 0 100px;


}

.apon{
     color: blueviolet;
    font-size: 30px;
    font-weight: 600;


}

.A{

  color: lawngreen;


}

nav > ul {
            display: flex;
            align-items: center;
    

}

nav li {
        list-style: none;
        margin-right: 50px;
       


}

nav a {
         text-decoration: none;

         color: blueviolet;



}

.but{
      border-radius: 50px;
      background-color: lawngreen;
      border: 0;
      color: blueviolet;
      font-size: 18px;
      font-weight: bold;
      padding: 5px 15px;



}



.header{
        
         background-color: white;
        
         
      
      
 


}

.banner{

   padding: 30px 30px 30px 150px;
   display: flex;


}


.About{
      text-align: center;
      padding: 100px;
      background-color: lawngreen;
      border-radius: 10px;
      margin: 130px 0;
      
      margin-left: 50px;
      margin-right: 50px;
      

}

.about-info-container{
            display: flex;
            justify-content: space-around;



}

.about-info{
      text-align: center;


}

#what{
       text-align: center;
       padding: 30px 150px;
       


}

.skils-c{
       display: flex;
       gap: 24px;
       background-color: darkturquoise;
       justify-content: center;
       

       


}

.skills{
    padding: 30px;
 
    text-align: center;
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px;


}

.Resume{
         text-align: center;


}

.resume-container{
           display: flex;
           gap: 30px;
           justify-content: center;



}

.but2{
     text-align: center;
  


}

.bu{
     color: rgb(0, 193, 252);
     background-color: blueviolet;



}

.foot{
      display: flex;
      gap: 200px;
      justify-content: center;
      padding: 100px 200px;
      background-color: rgb(214, 181, 245);
      margin-top: 100px;



}